.container {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@font-face {
  font-family: digital;
  src: url(../fonts/digital.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

:root {
  --blue: #03dac5;
  --darkTheme: #01091f;
  --liteDarkTheme: #151c32;
  --fontColor: #b3b5bc;
  --mark: #de9707;
  --skipped: #f74f2b;
}

/******************************** header */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: sans-serif;
  font-family: Roboto;
  background-color: var(--liteDarkTheme);
}
body > .header {
  background-color: var(--darkTheme);
}
body > .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body > .header .container .logo img {
  height: 70px;
}
body > .header .container .timer {
  font-family: digital;
  color: var(--blue);
  font-size: 30px;
}
body > .header .container .profile {
  color: #686c79;
}

/******************************** timeline */

body > .timeline {
  width: 100%;
  background-color: #26314f;
  height: 3px;
}
body > .timeline .timeLineMove {
  height: 100%;
  width: 0%;
  background-color: var(--blue);
}

/******************************** examStatistics */

body > .examStatistics {
  color: var(--fontColor);
  font-size: 18px;
  padding: 10px 0px;
}
body > .examStatistics .container {
  display: flex;
  justify-content: space-between;
}
body > .examStatistics .container .examName {
  width: 25%;
}
body > .examStatistics .container .info {
  width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > .examStatistics .container .info p span.questions {
  color: #ffffff;
}
body > .examStatistics .container .info p span.answered {
  color: var(--blue);
}
body > .examStatistics .container .info p span.mark {
  color: var(--mark);
}
body > .examStatistics .container .info p span.skipped {
  color: var(--skipped);
}
body > .examStatistics .container .info button {
  background-color: #ff3366;
  border: none;
  color: #fff;
  height: 40px;
  padding: 0px 20px;
  border-radius: 7px;
  line-height: 42px;
  cursor: pointer;
  transition: all 0.4s;
}

body > .examStatistics .container .info button:hover {
  background-color: #af1e42;
}

/******************************** bodyContent */

body > .bodyContent .container {
  display: flex;
  justify-content: space-between;
}
body > .bodyContent .container > div {
  background-color: #01091f;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  color: #8c9099;
}
body > .bodyContent .container .sideContent {
  width: 25%;
}
body > .bodyContent .container .mainContent {
  width: 72%;
}

@media (max-width: 991px) {
  body > .bodyContent .container {
    display: flex;
    flex-direction: column;
  }
  body > .bodyContent .container .sideContent {
    width: 100%;
    margin-bottom: 30px;
  }
  body > .bodyContent .container .mainContent {
    width: 100%;
  }
  body > .examStatistics .container .examName {
    width: 20%;
  }
  body > .examStatistics .container .info {
    width: 77%;
  }
}

@media (max-width: 767px) {
  body > .examStatistics .container .info {
    flex-direction: column;
    align-items: flex-start;
  }
  body > .examStatistics .container {
    position: relative;
  }
  body > .examStatistics .container .info button {
    position: absolute;
    right: 12px;
    top: 0;
  }
  body > .examStatistics .container .examName {
    width: 30%;
  }
  body > .examStatistics .container .info {
    width: 70%;
  }
}

/******************************** question and answers*/

body > .bodyContent .container .mainContent .qTitle {
  color: #d3d5d9;
  font-size: 20px;
  font-weight: 500;
  min-height: 80px;
}
body > .bodyContent .container .mainContent .qTitle > * {
  display: inline;
}
body > .bodyContent .container .mainContent .qAnswers > div {
  border: 2px solid transparent;
  background-color: var(--liteDarkTheme);
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  color: #9497a0;
  cursor: pointer;
  transition: all 0.2s;
}
body > .bodyContent .container .mainContent .qAnswers > div > * {
  display: inline-block;
  margin: 0;
}
body > .bodyContent .container .mainContent .qAnswers > div > span {
  width: 20px;
  height: 20px;
  color: #424758;
  background-color: var(--darkTheme);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 4px;
  transition: all 0.4s;
}
body > .bodyContent .container .mainContent .qAnswers > div.active,
body > .bodyContent .container .mainContent .qAnswers > div:hover {
  border-color: var(--blue);
  color: var(--blue);
}
body > .bodyContent .container .mainContent .qAnswers > div.active > span,
body > .bodyContent .container .mainContent .qAnswers > div:hover > span {
  background-color: var(--blue);
  color: #01091f;
}

/******************************** controls*/

body > .bodyContent .container .mainContent .controls {
  display: flex;
  padding: 30px 10px;
  padding-bottom: 0px;
  justify-content: space-between;
}
body > .bodyContent .container .mainContent .controls .movingBtns {
  display: flex;
}
/******************************** checkBox button*/
/* The container */
.checkContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 17px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--darkTheme);
  border: 2px solid #5c6170;
  border-radius: 5px;
  transition: all 0.4s;
}
/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkMark {
  background-color: var(--blue);
  border-color: var(--blue);
}
/* Create the checkMark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkMark when checked */
.checkContainer input:checked ~ .checkMark:after {
  display: block;
}
/* Style the checkMark/indicator */
.checkContainer .checkMark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/******************************** moving buttons*/

body > .bodyContent .container .mainContent .controls .movingBtns > div {
  border: 2px solid #5c6170;
  margin-left: 10px;
  padding: 10px 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.4s;
}
body > .bodyContent .container .mainContent .controls .movingBtns > div path {
  fill: #9497a0;
}
body > .bodyContent .container .mainContent .controls .movingBtns > div:last-of-type svg {
  transform: rotate(180deg);
}
body > .bodyContent .container .mainContent .controls .movingBtns > div:hover {
  border-color: var(--blue);
  color: var(--blue);
}
body > .bodyContent .container .mainContent .controls .movingBtns > div:hover path {
  fill: var(--blue);
}
body > .bodyContent .container .mainContent .controls .movingBtns > div.notAccess {
  border-color: #2b2d32;
  color: #2b2d32;
  cursor: not-allowed;
}
body > .bodyContent .container .mainContent .controls .movingBtns > div.notAccess path {
  fill: #2b2d32;
}

/******************************** Questions Numbers*/

body > .bodyContent .container .sideContent h3 {
  margin-top: 0px;
  color: #b3b5bc;
  font-weight: 700;
  font-size: 20px;
}
body > .bodyContent .container .sideContent .questionsNumber {
  display: flex;
  flex-wrap: wrap;
}
body > .bodyContent .container .sideContent .questionsNumber span {
  display: inline-block;
  background-color: #121c3a;
  color: #8d92a0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 34px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  cursor: pointer;
}
body > .bodyContent .container .sideContent .questionsNumber span.mark,
body > .bodyContent .container .sideContent .questionsNumber span.skipped,
body > .bodyContent .container .sideContent .questionsNumber span.answered {
  background-color: var(--darkTheme);
}
body > .bodyContent .container .sideContent .questionsNumber span.skipped {
  border-color: var(--skipped);
}
body > .bodyContent .container .sideContent .questionsNumber span.answered {
  border-color: var(--blue);
}
body > .bodyContent .container .sideContent .questionsNumber span.mark {
  border-color: var(--mark);
}
body > .bodyContent .container .sideContent .questionsNumber span.current {
  border-color: white;
  background-color: white;
  color: var(--darkTheme);
}
